header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

ul li {
  color: chartreuse;
}